<div class="container" fade-in>
    <div ng-show="isNotLoading()">
        <div ng-show="shouldShowAddDialog()">
            <h3>New User</h3>
            <h4>Please enter the details for the new user:</h4>
            <hr style="margin-bottom: 1em;">
            <form name="userForm" novalidate>
                <div>
                    <div class="form-group" id="emailDiv" >
                        <label class="control-label" for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter email" name="email" ng-model="user.email" required="">
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="userForm.email.$dirty && userForm.email.$invalid" for="emailDiv">
                        <span ng-show="userForm.email.$error.required">Email is required.</span>
                        <span ng-show="userForm.email.$error.email">Invalid email address.</span>
                    </div>
                </div>

                <div>
                    <div class="form-group" id="nameDiv">
                        <label class="control-label" for="firstNameInput">First Name</label>
                        <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name" name="firstName" ng-model="user.firstName" required="">
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show=" userForm.firstName.$dirty && userForm.firstName.$invalid" for="nameDiv">
                        <span>First name is required.</span>
                    </div>
                </div>

                <div>
                    <div class="form-group" id="surnameDiv">
                        <label class="control-label" for="surnameInput">Surname</label>
                        <input type="text" class="form-control" id="surnameInput" placeholder="Enter surname" name="surname" ng-model="user.surname" required="">
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="userForm.surname.$dirty && userForm.surname.$invalid" for="surnameDiv">
                        <span>Surname is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Gender">Gender</label>
                    <!-- Normally I would load this asyncly from the server -->
                    <select id="Gender" class="form-control" ng-model="user.gender" required="">
                        <option>Other/Not Applicable</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <div class="alert alert-danger" role="alert" ng-show="userForm.gender.$dirty && userForm.gender.$invalid" for="surnameDiv">
                        <span>Gender is required.</span>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" ng-show="hasError" for="surnameDiv">
                    <span>{{errorMessage}}</span>
                </div>
                <div align="right" class="text-right">
                    <button class="btn btn-danger" go-click="/home.html">Cancel</button>
                    <button class="btn btn-warning" ng-click="reset()">Reset</button>
                    <button type="submit" class="btn btn-success" ng-click="save(user)">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <div ng-show="shouldShowMessage()">
            <div class="jumbotron">
                <div class="container">
                    <h2>User Added!</h2>
                    <p>The user has successfully been added to the database.  You can either add another or alternatively view all existing users.</p>
                    <div align="right" class="text-right">
                        <button class="btn btn-warning" go-click="">Home</button>
                        <button class="btn btn-success" ng-click="reset()">Add Another</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isLoading()" align="center">
        <h2>Please wait while the data is being processed...</h2>
        <!-- ReSharper disable once MissingAltAttributeInImgTag -->
        <!-- ReSharper disable Html.PathError -->
        <img src="../../../ui/images/loopingClock.gif" alt="loading..."/>
        <!-- ReSharper restore Html.PathError -->
    </div>
</div>