<style>
    .about-img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>
<div class="container" fade-in>
    <h3>Practical Task - Liaan Booysen</h3>
    <hr style="margin-bottom: 1em;">
    <div class="row">
        <div class="col-md-5">
            <h3 style="text-align: center;">Add users</h3>
            <!-- The color change css shold be in the class -->
            <a href="#/newUser">
                <img class="about-img img-responsive" src="../ui/images/Add_NewUser.png" onmouseover=" this.style.background = 'green'; " onmouseout=" this.style.background = 'transparent'; " alt="Add a new user"/>
            </a>
        </div>
        <div class="col-md-5">
            <h3 style="text-align: center;">Manage Users</h3>
            <a href="#/manageUsers">
                <img class="about-img img-responsive" src="../ui/images/EditCurrentUsers.png" onmouseover=" this.style.background = 'green'; " onmouseout=" this.style.background = 'transparent'; " alt="Manage current users"/>
            </a>
        </div>
    </div>
    <hr style="margin-bottom: 1em;">
</div>