
<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="navbar-footer">
        <!--
        <a class="navbar-brand" href="#">&copy; {{constants.company_name}} {{constants.copyright_year}}</a>
        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div id="footer-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="https://za.linkedin.com/pub/liaan-booysen/3a/175/694" target="_blank">Linked In</a></li>
            <li><a href="https://icodegorilla.wordpress.com/" target="_blank">Blog</a></li>
        </ul>

    </div>
</nav>