<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="http://www.aculocity.com/Images/logo.png" style="max-width:100px; margin-top: -7px;" />
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div id="top-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-check glyphicon-white"></i>
                    Actions
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!-- <li><a href="#/playground/accordion">Accordion</a></li>  BROKE WITH Bootstrap 3 Upgrade -->
                    <li><a href="#/newUser">Add Users</a></li>
                    <li><a href="#/manageUsers">Manage Users</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
