<div class="container" fade-in>
    <div ng-show="isNotLoading()">
        <h3>Manage Users</h3>
        <hr style="margin-bottom: 1em;">
        <div class="row">
            <div class="col-md-6" ng-show="hasData()">
                <p>
                    <strong>Filter all:</strong>
                </p><input type="text" ng-model="filterOptions.filterText" />
                <br />
                <br />
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="hasError || hasNoData()">
            <span>{{errorMessage}}</span>  <a href="#/newUser">Click here to add more data</a>
        </div>
        <div class="gridStyle" ng-grid="gridOptions" ng-show="hasData()"></div>
        <div class="alert alert-dismissable" role="alert" ng-show="showNotification">
            The item has successfully been deleted.
        </div>
        <br />
        <br />
        <div align="right" class="text-right">
            <button class="btn btn-success" go-click="">Home</button>
        </div>
    </div>
    <div ng-show="isLoading()" align="center">
        <h2>Please wait while we load the data...</h2>
        <!-- ReSharper disable once MissingAltAttributeInImgTag -->
        <!-- ReSharper disable Html.PathError -->
        <img src="../../../ui/images/loopingClock.gif" alt="loading..." />
        <!-- ReSharper restore Html.PathError -->
    </div>
</div>
